<section class="se d-flex justify-content-center align-items-center" style="height: 100vh; background-color: rgb(26, 188, 156);">
    <div class="text-center text-white container">
  
      <p class="mb-1 ti">ABOUT COMPONENT</p>
      <div class="star-divider">
        <i class="fas fa-star"></i>
      </div>
      
  
      <div class="row justify-content-center mt-4">
        <div class="col-md-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
        <div class="col-md-5">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
          </p>
        </div>
      </div>
  
    </div>
  </section>
  