<nav class="navbar navbar-expand-lg custom-navbar" [class.shrink-navbar]="isScrolled">
    <div class="container">
      <a class="navbar-brand ms-5" routerLink="/home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5 pe-5">
          <li class="nav-item me-2">
            <a class="nav-link" routerLinkActive="active-link"  routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" routerLinkActive="active-link" routerLink="/portfolio">PORTFOLIO</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" routerLinkActive="active-link" routerLink="/contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  